version: '3.7'
services:
  app:
    container_name: app
    build: ./
    ports:
      - '3001:8080'
    depends_on:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - gamebook-datas:/data/db
    ports:
      - '27017:27017'
volumes:
  gamebook-datas:
    name: gamebook-datas-volume
